
header{
    margin-top: 3.3%;
    margin-bottom: 2.7%;
    margin-left: 16.5%;
    align-items: center;
    display: flex;
}

header a:first-child {
    margin-right: 8.7%;
}

header a img{
    width: 90px;
    height: 27px;
}
header a{
    font-size: 16px;
    font-family: Roboto;
    line-height: 19px;
    margin-right: 2.1%;
    text-decoration: none;
    color: #111111;
}
header .log{
    margin-left: 500px;
}

.header {
    display: flex;
    margin-bottom: 30px;
}

.header .buttons{
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.header .button:last-child{
    background-color: #8A8A8A ;
    color: white;
}

.header .button:first-child{
    margin-left: 100px;
}

.header .item{
    width: 50%;
}

.header .button.savebutton{
    margin-left: 250px;
}
