section.card.login.container {
    max-width: 600px;
}

section.card.login.container .header{
    margin-top: 130px;
    text-align: center;
}

section.card.login.container .fields{
    margin-bottom: 16px;
    margin-top: 16px;
}
section.card.login.container .footer{
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.card.login.container .footer ul li{
    list-style: none;
}

section.card.login.container .footer ul li a{
    color: #777;
    text-decoration: none;
}

section.card.login.container .footer ul li a:hover{
    color: black;
    font-weight: bold;
}