*{
    margin: 0;
    padding: 0;
    font: Roboto;
    border: none;
}

body, html {
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
}


.mais-acessadas{
    margin: 3.2% 16.5% 2.7%;
    
}
.mais-acessadas .receitas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2.7%;
}
.mais-acessadas .receitas img{
    height: 140px;
    width: 300px;
    border-radius: 15px;
}

.mais-acessadas .receitas h2{
    font-size: 18px;
}

.mais-acessadas .receitas h3{
    font-size: 14px;
    color: #777777;
}
.mais-acessadas .receita{
    margin-right: 120px;
}
.mais-acessadas .receita:hover{
    cursor: pointer;
}

footer{
    height: 62px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    color: #999999;
    font-size: 14px;
    margin-top: auto;
    bottom:0;
    left:0;
    width: 100%;
}
footer p{
    margin-top: 30px;
    height: 32px;
}

.about-content{
    margin: 3.2% 16.5% 2.7%;
}
.about-block p{
    width: 940px;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
}

.recipes{
    margin-right: 16.5%;
    max-width: 940px;

}

.recipe p {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
.recipe img {
    height: 100%;
    border-radius: 15px;
}

.header-chef-create,
.header-recipe-create,
.header-recipe-show{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.header-recipe-show h1{
    font-size: 24px;
    font-weight: bold;
    columns: #111111;
}

.user-register input {
    width: 50%;
}
.user-register h1 {
    width: 50%;
    margin-bottom: 16px;
}

.chef-list{
    height: 64px;
    width: 200px;
    display: flex;
}

.chef-list .text-list{
    display: grid;
}
.chef-list .text-list a,
.recipe-text-list a{
    text-decoration: none;
    color: #6558C3;
    font-size: 14px;
    font-weight: bold;
}

.highlight img{
    border-radius: 15px;
    height: 280px;
    margin-bottom: 10px;
    cursor: zoom-in;
}

.recipe-text{
    text-align: center;
}

.recipe-text h2{
    font-size: 36px;
    font-weight: bold;
    color: #111111;
}
.recipe-text h3{
    font-size: 20px;
    font-weight: normal;
    color: #777777;
}

.recipe-content h2, 
.recipe-content p{
    margin-bottom: 16px;
    margin-top: 16px;
}

.recipe-list{
    display: flex;
    width: 400px;
}
.recipe-list img{
    width: 170px;
    height: 80px;
    border-radius: 8px;
}

.recipe-text-list{
    margin-left: 16px;
    display: grid;
}

.recipe-text-list > span{
    font-size: 18px;
}
.recipe-text-list span + span{
    font-weight: normal;
    color: #555555;
    font-size: 14px;

}

