{% extends "layout.njk" %}
{% block content %}

<section class="card  container form">
    <form action="/users/password-reset" method="post">
    <div class="header">
        <div class="item">

        <h1>Bem vindo</h1>
        </div>
        <div class="item">
            <button class="button savebutton" type="submit">Salvar</button>
            <div></div>
        </div>
    </div>
    <div class="fields">
        <div class="items">
            <div class="item">
                <h3>Nome</h3>
                    <input type="text" value="{{user.name}}" name="name" placeholder="Digite o nome completo" required>
            </div>
            <div class="item">           
                <h3>Email</h3>
                <input 
                type="email" 
                name="email" 
                placeholder="Digite seu email" 
                value="{{user.email}}"
                onblur="Validate.apply(this, 'isEmail')"
                required>
            </div>

         </div>
        <div class="items">
            <div class="item">
                <h3>Senha</h3>
                <input type="password" name="password" placeholder="Digite sua nova senha" required>
            </div>
        </div>
    </div>

    </div>
    </form>
</section>


{% endblock content %}