{% block content %}
<div class="item">
    <h3>Nome Completo</h3>
        <input type="text" value="{{user.name}}" name="name" placeholder="Nome" required>
    <div>
</div>
<div class="item">
    <h3>Email</h3>
    <input 
    type="email" 
    name="email" 
    placeholder="Email" 
    value="{{user.email}}"
    onblur="Validate.apply(this, 'isEmail')"
    required>
</div>
<input type="checkbox" name="isAdmin" class="checkbox">Administrador
{% endblock content %}
