{% block content %}
<div class="items">

<div class="item">
    <h3>Nome</h3>
        <input type="text" value="{{user.name}}" name="name" placeholder="Digite o nome completo" required>
</div>
<div class="item">
    <h3>Email</h3>
    <input 
    type="email" 
    name="email" 
    placeholder="Digite o email" 
    value="{{user.email}}"
    onblur="Validate.apply(this, 'isEmail')"
    required>
</div>

</div>
<div class="check">
    <input type="checkbox" name="is_admin" id="isAdmin" class="checkbox"> 
    <p> Administrador </p> 
</div>
{% endblock content %}
