{% extends "layout.njk" %}
{% block content %}

<section class="card user-register container form">
    <form action="/users/register" method="post">
    <div class="header">
        <h1>Registre-se</h1>
    </div>
    <div class="fields">
        {% include 'user/fields.njk' %}
    </div>

    <button class="button" type="submit">Salvar</button>
    </form>
</section>


{% endblock content %}