{% extends "layout.njk" %}
{% block content %}

<section class="card user-register container form">
    <form action="/users/register" method="post">
    <div class="header">
        <h1>Criar usuário</h1>
        <div class="buttons">
            <button class="button" type="submit">Salvar</button>
            <a href="/" class="button">Cancelar</a>
        </div>
    </div>
    <div class="fields">
        {% include 'user/fields.njk' %}
    </div>

    </form>
</section>


{% endblock content %}