{% extends "layout.njk" %}
{% block content %}

<div class="mais-acessadas">
    <div class="recipes">
            <div class="recipe">
                <img src={{recipe.image}} alt="">
                <h2>{{recipe.title}}</h2>
                <h3>por {{recipe.author}}</h3>
                <h2>Ingredientes</h2>
                <a id=0 class="active">Mostrar</a>
                <p class="hide">
                {{recipe.ingredients}}
                </p>
                <h2>Modo de preparo</h2>
                <a id=1 class="show">Mostrar</a>
                <p class="hide">
                {{recipe.preparation}}
                </p>
                <h2>Informações</h2>
                <a id=2 class="show">Mostrar</a>
                <p class="hide">
                {{recipe.information}}
                </p>
            </div>
    </div>
</div>

{% endblock content %}