{% extends "layout.njk" %}

{% block content %}
<div class="card">
    <section 
      class="avatar"
      style="background: url({{student.avatar_url}}) no-repeat center center / cover" 
    >

    </section>
    <section class="details">
        <div class="item">
            <h2>Nome </h2>
            <h3>{{student.name}}</h3>
        </div>
        <div class="item">
            <h2>Aniversário </h2>
            <h3>{{student.birth_date}}</h3>
        </div>
        <div class="item">
            <h2>Email </h2>
            <h3>{{student.email}}</h3>
        </div>
        <div class="item">
            <h2>Ano escolar </h2>
            <h3>{{student.education_level}}</h3>
        </div>
        <div class="item">
            <h2>Carga horaria </h2>
            <h3>{{student.week_time}} </h3>
        </div>
        <div class="item">
            <h2>Aluno(a) de </h2>
            <h3>{{student.teacher_name}} </h3>
        </div>
            <a href="/students/{{student.id}}/edit" class="button">Editar</a>


    </section>
</div>
{% endblock content %}