{% extends "layout.njk" %}
{% block content %}

<div class="card">
    <form action="/admin/recipes" method="post" enctype="multipart/form-data">

        <div class="header-recipe-create">
            <h1>Criando receita</h1>
            <button type="submit">Salvar receita</button>
        </div>
        <h2>Imagem da receita:</h2>
        
        {% include 'admin/recipes/fields.njk'%}

    </form>
</div>

{% endblock content %}
