{% extends "layout.njk" %}
{% block content %}

    <div class="card">
        <form class="form-delete" action="/admin/recipes?_method=DELETE" method="post">
            <button type="submit" class="delete-button">Deletar</button>
            <input type="hidden" name="id" value="{{chef.id}}">
        </form>
        <form action="/admin/recipes?_method=PUT" method="post" enctype="multipart/form-data">

            <input type="hidden" name="id" value="{{recipe.id}}">


            <div class="header-chef-create">
                <h1>Editando receita</h1>
                <button type="submit">Salvar receita</button>
            </div>
            {% include 'admin/recipes/fields.njk'%}
        </form>
    </div>

{% endblock content %}