   {% extends 'layout.njk' %}
    {% block content %}
    <div id="conteudo">

    <iframe src="https://rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
        
    </div>
    
            
    </div>

    <script src="/scripts.js"></script>
{% endblock content %}
