*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    background-color: #dddddd;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: white;
    width: 100%;
    padding: 30px;
    text-align: center;
    box-sizing: border-box;
}



header a + a {
    margin-left: 30px;
}


header a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    position: relative;
}

header .links .active{
    color: yellowgreen;
    font: bold;
}

header a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -2px;
    
}

header a:hover::after{
    width: 100%;
    transition: width 500ms ease-in-out ;
}

.card{
    background-color: #fff;
    width: 800px;
    min-height: 400px;
    margin: 45px auto;
    display: flex;
    box-shadow: 0px 2px 6px -2px rgba(0, 0, 0, 0.4);
    animation: up 400ms ease-out;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
    }
}

.avatar{
    width: 40%;
    background: no-repeat center center / cover;
}

.card .details{
    padding: 32px;
    width: 60%;
}

.card .details .item {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 2px;
    margin-bottom: 6px;
}
.card .details .item h2{
    color: #777 ;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 4px;
}

.card .details .item h3{
    font-size: 16px;
    font: normal;
}
.card .details .item:nth-child(6) {
    font-size: 16px;
    line-height: 16px;
}

.card .details .item:nth-child(5) span {
    padding: 8px 16px;
    background-color: yellow;
    border-radius: 16px;
    color: #555;
    margin-right: 4px;
    margin-top: 4px;
    display: inline-block;
    font: bold;
    font-size: 12px;
    text-transform: uppercase;
}

input,
select{
    width: 100%;
    outline: none;
    color: #555;
    font-weight: bold;
    font-size: 18px;
}

input[type="radio"]{
    width: initial;
    margin-right: 4px;
}

input::placeholder{
    font-size: 16px;
    font-weight: normal;
}

.button, 
button[type="submit"]{
    padding: 8px 32px;
    background-color: yellow;
    border-radius: 4px;
    margin-top: 32px;
    width: 50%;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

a.button {
    display: block;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

button[type="submit"].button-delete{
    background-color: red;
    color: white;
    margin-left: 16px;
    position: relative;
    right: -210px;
    bottom: 65px;
}

/* INDEX TABLe */

.table-container{
    display: block;
}

.table-container table{
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
}
.table-container table tbody tr td:first-child{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.table-container table img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

td, th{
    border-bottom: 1px solid #d9d9d9;
}

th { 
    text-transform: uppercase;
    color: #777;
    font-size: 16px;
}

tbody tr td:last-child a,
.table-container > a {
    background-color: yellowgreen;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    border-radius: 6px;
}

.table-container > a{
    margin: 32px 32px 0px;
    display: inline-block;
}

.header-filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 32px 32px 0px;
}
.header-filter a{
    margin: 0;
    width: 120px;
}

.header-filter form{ 
    display: grid;
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;
}

.header-filter form input{
    border: 1px solid #555;
    border-radius: 8px;
    padding: 4px 8px;
    box-sizing: border-box;
}

.header-filter form button{
    width: 100%;
    margin: 0;
}

