{% extends "layout.njk" %}
{% block content %}

<div class="about-content">
    <div class="about-block">
        <h1>Sobre o Foodfy</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum dolores possimus non corporis, dolor tempora officiis magni asperiores nihil laborum, esse facilis modi ipsum, corrupti aliquam accusamus. Est, incidunt eum?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos corporis optio facere molestiae laboriosam odio numquam, quasi cupiditate, soluta recusandae odit veritatis in animi, dicta dolorem unde asperiores eligendi ipsam!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores rem numquam soluta accusantium deserunt iste deleniti quisquam modi repudiandae quidem, eos voluptatem tempore aperiam aliquam et suscipit nihil labore quae.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil deserunt molestiae eligendi ex deleniti eum iste ea, vitae, pariatur fugiat odio unde, totam illum consequuntur? Tenetur ea eveniet optio. Voluptas?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. A praesentium, exercitationem cupiditate iure alias amet, aut excepturi maxime beatae sit quasi, necessitatibus dignissimos. Atque aperiam ratione, porro laboriosam earum velit!
        </p>

    </div>
    <div class="about-block">
        <h2>Como tudo começou...</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nihil at veniam in aspernatur ipsum? Quis quasi a temporibus sed asperiores rem? Sit enim sint commodi iure. Blanditiis, dignissimos recusandae?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius nihil at veniam in aspernatur ipsum? Quis quasi a temporibus sed asperiores rem? Sit enim sint commodi iure. Blanditiis, dignissimos recusandae?</p>
    </div>
    <div class="about-block">
        <h2>Nossas receitas</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, omnis, neque deleniti doloribus sint quasi deserunt eos unde possimus quas rem, quisquam voluptatum eligendi consectetur voluptatibus explicabo ut. Delectus, pariatur.</p>
    </div>
</div>

{% endblock content %}